body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
button {
  background-color: lightblue;
  color: white;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
div .panel {
  background-color: pink
}
