body {
    background-color: #977857
}
h1 {
    color: white;
    text-align: center;
    font-family: Comic
    font-weight: bold;
}
button {
  background-color: #C2522D;
  color: white;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
div .panel {
  background-color: #E0CBAC
}
