
h1	{
	color: black;
	text-align: center;
	font-family: arial;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

body {
	color: #261F29;
	background-color: #385775;
	font-size: 16px;
	text-align: left
}

.jumbotron {
	color: #261F29;
	background-color: #b3ecff;
}

.panel-default {
	max-width: 8cm;
	color: #261F29;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background-color: ;
}
.center-block {
	border-style: dotted;
	border-color: #261F29;
	border-width: 10px;
	margin-left: auto;
	margin-right: auto;
	margin: center;
}
.panel-body {
	background-color: #b3ecff;
}
.image-responsive {
	margin: center;
	margin-left: auto;
	margin-right: auto;
	padding: center;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #BEA540;
    color: #BEA540;
    border-bottom: 2px solid transparent;
}
.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: black;
  color:#BEA540;
}


}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar {
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    float: center;
    border: none;
    padding: 0px;
    color:#BEA540;
}

.navbar-static-top {
    z-index: 1000;
}

.navbar {
    position: relative;
    min-height: 50px;
 }
ul, ol {
    margin-top: 0;
 }

 ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.masthead-nav > li {
    display: inline-block;
}

.nav > li {
    position: relative;
}
.navbar-brand:


.row {  
  background-color:##5793A9;
}