
div.img img {
  width: 90%;
  height:120%;
  display: block;
   margin-left: auto;
   margin-right: auto;
}


div.img2 img {
  width: 40%;
  height: 40%;
  display: block;
   margin-left: auto;
   margin-right: auto;
}

h1 {
  color: #D0B49C;
  text-align: center;
  font-family: Comic;
  font-weight: bold;
}

h2 {
  color: #BC5444;
  text-align: center;
  font-family: Comic;
  font-weight: bold;

}

body {
  background-color: #BC5444
}

div.panel {
  background-color: #271211
}

p {
  color: #D0B49C;
text-align: center;
}
div.col-md-4 {
  margin-left: auto;
  margin-right: auto;
}
nav {
  color: #D0B49C;
}
